/* LIGHT THEME */
/*-----COLORS----- */
/* LIGHT*/
/* #F2E436 -- yellow
#36B5F3 -- blue */
/* LIGHT */
/* font-family: 'Oleo Script Swash Caps', cursive;
font-family: 'Meow Script', cursive; */


body {
    background-color: #36B5F3;
    background-image: url(./customization/pngkey.com-clouds-png-14969.png);
    background-position: bottom;
}

span {
    font-family: 'Meow Script', cursive;
    font-size: xxx-large;
    font-weight: bold;
    animation: pulsate 1.5s infinite alternate;
    color: #fff;
    text-shadow:
        0 0 7px #F2E436,
        0 0 10px #F2E436,
        0 0 21px #F2E436,
        0 0 42px #F2E436,
        0 0 82px #F2E436,
        0 0 92px #F2E436,
        0 0 102px #F2E436,
        0 0 151px #F2E436;
}

/* Flickering animation */
@keyframes pulsate {
    100% {
        /* Larger blur radius */
        text-shadow:
            0 0 4px #F2E436,
            0 0 11px #F2E436,
            0 0 19px #F2E436,
            0 0 40px #F2E436,
            0 0 80px #F2E436,
            0 0 90px #F2E436,
            0 0 100px #F2E436,
            0 0 150px #F2E436;
    }

    0% {
        /* Smaller blur radius */
        text-shadow:
            0 0 2px #F2E436,
            0 0 4px #F2E436,
            0 0 6px #F2E436,
            0 0 10px #F2E436,
            0 0 45px #F2E436,
            0 0 55px #F2E436,
            0 0 70px #F2E436,
            0 0 80px #F2E436;
    }
}

p {
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: medium;
}

#text-bubble {
    display: flex;
    background-color: #fff;
    padding: 50px;
    border-radius: 30px;
    margin: 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: none;
}

#text-bubble:before,
#text-bubble:after {
    content: "";
    background-color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    z-index: -1;
}

#text-bubble:before {
    width: 44px;
    height: 44px;
    top: -12px;
    left: 28px;
    box-shadow: -50px 30px 0 -12px #fff;
}

#text-bubble:after {
    bottom: -10px;
    right: 26px;
    width: 30px;
    height: 30px;
    box-shadow: 40px -34px 0 0 #fff,
        -28px -6px 0 -2px #fff,
        -24px 17px 0 -6px #fff,
        -5px 25px 0 -10px #fff;
}